<center><a href="/"> Home </a></center>

<table cellpadding="5" cellspacing="5" class="table centered striped responsive-table" >

    <caption> <h3> <b>{{caption}} </b> </h3></caption>

    <caption> Showing from {{start}} to {{end}}</caption>

    <thead> 

        <th>S/N</th> <th>Short Percentage</th> <th>Long Percentage</th> <th>Short Volume</th> <th>Long Volume</th> 
        <th>Total Position</th> <th>Average Short Price</th> <th>Average Long Price</th>

    </thead>

    <tbody> 

    {{#each data}}

        <tr class="tooltipped" data-position="left" data-tooltip="{{date}}">

            <td> {{index}}</td> <td> {{shortPercentage}}% </td> <td>{{longPercentage}}% </td> 
            <td> {{shortVolume}} lots </td> <td> {{longVolume}} lots </td> <td> {{totalPositions}} </td>
            <td> {{avgShortPrice}} </td>  <td> {{avgLongPrice}} </td>
            
        </tr>

    {{/each}}

    </tbody>

</table>

<center>

    <ul class="pagination">
    
    {{#if notFirstPage}}
        <li><a href="/symbol/{{caption}}/1"><i class="material-icons">chevron_left</i></a></li>
    {{/if}}

    {{#each pages}}

        {{#if this.[2]}}

            <li class="waves-effect active"><a href=/symbol/{{this.[1]}}/{{this.[0]}}>{{this.[0]}}</a></li>

        {{else}}

            <li class="waves-effect"><a href=/symbol/{{this.[1]}}/{{this.[0]}}>{{this.[0]}}</a></li>

        {{/if}}
        
    {{/each}}
    
    {{#if notLastPage}}
        <li class="waves-effect"><a href=/symbol/{{caption}}/{{next}}><i class="material-icons">chevron_right</i></a></li>
    {{/if}}
    </ul>

</center>


